<h1 style="margin-left:1em"> Registration </h1>


<div>

	<div style="float:left; width:45%;margin-left:1em">
		<h3>Company <h3>
		<%= link_to new_company_path do %>
   			<%= image_tag "company.jpg", size: "190x190"%>
		<% end %>
	</div>
	

	<div style="float:left;width:45%">
		<h3>Worker</h3>
		<%= link_to new_worker_path do %>
   			<%= image_tag "worker.jpg", size: "190x190" %>
		<% end %>
	</div>
</div>