<div class="overall-spacing"> 

	<div class="form-section">
	<h1> New Company Registration</h1>
		<div class="form-content">
		    <%= render 'form' %>
		  	<div class="p_med">
				<%= link_to "Home", root_path %>
		  	</div>
	  	</div>
	</div>
</div>