  <div class="worker-email-addresses-fields">
	  <div class="form-group">
	      <%= f.label :email %>
	      <%= f.text_field :email, class: "form-control" %>
	  </div>
	  <%= f.hidden_field :_destroy %> 
	  <!--div class="remove-email-address-fields" href="#">remove</div-->
  </div>