  <div class="worker-email-addresses-fields">
	  <div class="field">
	      <%= f.label :email %>
	      <%= f.text_field :email %>
	  </div>
	  <%= f.hidden_field :_destroy %> 
	  <div class="remove-email-address-fields" href="#">remove</div>
  </div>