<div style="margin-left:1em;">
    
<div>

<br>
<table id="job_postings" class="table">
<thead>
  <tr>
  	<th>Id</th>
    <th>Subject</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  <% @job_postings.each do |job_posting| %>
    <tr>
      <td><%= job_posting[:id] %></td>
      <td><%= job_posting[:subject] %></td>
      <td><%= job_posting[:description] %></td>
    </tr>
  <% end %>
</tbody>
</table>


</div>




    <a href="<%= new_company_job_posting_path(params[:company_id]) %>">
		<div style="background-color:#1ba1e2;width: 310px;height: 170px;">
			<i class="fa fa-sticky-note fa-inverse" style="font-size:120px;margin-left:.8em"></i>
			<h3 style="color:#fff;margin-left:.8em"> New Job Posting </h3>
		</div>	
	</a>
</div>

<script>
$(document).ready(function() {
  $("#job_postings").dataTable();
});
</script>